<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shubham11.ecraftindia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            -->


            <!--
                <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultActivity" />
            -->
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchlistActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".editdetails.EditDetailsActivity" />
        <activity android:name=".ProductDetailsMerchant" />
        <activity android:name=".SearchListActivityNoCp" />
        <activity android:name=".editdetails.EditDetailsOwner" />
        <activity android:name=".editdetails.EditDetailsManager"></activity>
    </application>

</manifest>